{% extends "base.html" %}
{% block content %}
<h2>📚 Library Shelf System</h2>
<p>Status: Flask is working ✔</p>

<a href="/add" class="btn btn-primary mb-3">➕ Add Book</a>
<a href="/export" class="btn btn-success mb-3">⬇ Download CSV</a>


{% if books %}
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Section</th>
        <th>Shelf</th>
        <th>Action</th>
    </tr>
    {% for b in books %}
    <tr>
        <td>{{b[1]}}</td>
        <td>{{b[2]}}</td>
        <td>{{b[3]}}</td>
        <td>{{b[4]}}</td>
        <td><a href="/delete/{{b[0]}}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No books added yet.</p>
{% endif %}
{% endblock %}
